<h1>Listing new_recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ingredients</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_recipes.each do |new_recipe| %>
  <tr>
    <td><%= new_recipe.name %></td>
    <td><%= new_recipe.ingredients %></td>
    <td><%= link_to 'Show', new_recipe %></td>
    <td><%= link_to 'Edit', edit_new_recipe_path(new_recipe) %></td>
    <td><%= link_to 'Destroy', new_recipe, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New recipe', new_new_recipe_path %>
